<ul>
  <% let _inc_site_url = config.root || '/' %>
  <% if (_inc_site_url.slice(-1) === '/') { %>
    <% _inc_site_url = _inc_site_url.slice(0, -1) %>
  <% } %>
  <% items.forEach(_inc_item => { %>
    <li>
      <% const _inc_collection = _inc_item.collection || collection %>
      <% const _inc_docs = (site.data[`knosys/${repo}`] || {}).items %>
      <% const _inc_base_part = base || '' %>
      <% const _inc_base_url = `${_inc_site_url}${_inc_base_part}` %>
      <% if (_inc_item.items) { %>
        <span><%= _inc_item.text %></span>
        <%- partial('_nop/components/doc-toc', { repo, items: _inc_item.items, base: _inc_base_part, collection: _inc_collection }) %>
      <% } else { %>
        <% const _inc_relative_url = page.path.replace('/index.html', '/').replace(base ? new RegExp(`^${_inc_base_part}`) : '', '') %>
        <% let _inc_item_url = `/${_inc_collection}/` %>
        <% let _inc_doc_url = `${_inc_base_url}/${_inc_collection}` %>
        <% if (_inc_item.slug === 'index') { %>
          <% _inc_doc_url = `${_inc_doc_url}/` %>
        <% } else { %>
          <% _inc_item_url = `${_inc_item_url}${_inc_item.slug}/` %>
          <% _inc_doc_url = `${_inc_doc_url}/${_inc_item.slug}/` %>
        <% } %>
        <a data-re="<%= _inc_relative_url %>" data-uuu="<%= _inc_item_url %>"<% if (_inc_relative_url === _inc_item_url) { %> class="is-selected"<% } %> href="<%= _inc_doc_url %>"><%= _inc_item.text %></a>
      <% } %>
    </li>
  <% }) %>
</ul>
